<?xml version="1.0"?>
<config>
    <modules>
        <Aamant_ReferralCandy>
            <version>1.0.0</version>
        </Aamant_ReferralCandy>
    </modules>
    <global>
        <blocks>
            <referralcandy>
                <class>Aamant_ReferralCandy_Block</class>
            </referralcandy>
        </blocks>
        <helpers>
            <referralcandy>
                <class>Aamant_ReferralCandy_Helper</class>
            </referralcandy>
        </helpers>
        <models>
            <referralcandy>
                <class>Aamant_ReferralCandy_Model</class>
            </referralcandy>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <referralcandy>
                    <file>referralcandy.xml</file>
                </referralcandy>
            </updates>
        </layout>
    </frontend>
    <default>
        <referralcandy>
            <general>
                <enable>1</enable>
                <type>refcandy-mint</type>
                <app_id>s77h587cictavr4wggwwbheih</app_id>
                <secret>91251673de07afbecfb071e59194accd</secret>
            </general>
        </referralcandy>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <referralcandy module="referralcandy" translate="title">
                                            <title>ReferralCandy</title>
                                        </referralcandy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
